hr {
  box-shadow: 0 2px 2px -2px #232323;
  width: 70%;
}

.item-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 5px 0;
  padding: 10px 0;
}

.subway-line {
  border-radius: 50%;
  box-shadow: 0 3px 3px #222;
  color: #FAFAFA;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin: 0 5px;
  text-shadow: 0 1px 1px #222;
  width: 40px;
}

.line-ACE {
  background-color: #0039A6;
}

.line-BDFM {
  background-color: #FF6319;
}

.line-G {
  background-color: #6CBE45;
}

.line-JZ {
  background-color: #996633;
}

.line-L {
  background-color: #A7A9AC;
}

.line-NQR {
  background-color: #FCCC0A;
}

.line-123 {
  background-color: #EE352E;
}

.line-456 {
  background-color: #00933C;
}

.line-7 {
  background-color: #B933AD;
}

.line-S {
  background-color: #808183;
}

.line-SIR {
  background-color: #21308E;
}
