.nav-logos {
  border: 1px solid #232323;
  border-top: none;
  box-shadow: 0 1px 3px #222;
  padding: 10px 30px;
}

#app-nav {
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
}

#clock-logo {
  height: 95px;
}

#mta-logo {
  height: 95px;
}

#music-logo {
  height: 95px;
}

#weather-logo {
  height: 95px;
}
