@font-face {
  font-family: atami;
  src: url(../fonts/Atami-Regular.otf);
}

@font-face {
  font-family: atami-light;
  src: url(../fonts/Atami-Light.otf);
}

body {
  background: #FAFAFA;
  background-size: cover;
  color: #232323;
  cursor: none;
  font-family: atami;
  height: 100%;
  width: 100%;
  text-align: center;
}

a {
  cursor: none;
}

a:hover {
  cursor: none;
}
